<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Birds</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <h3>Rate<em>(the)</em>Birds</h3>
    </div>
    <div class="main">
        <div id="bird-wrapper">
           <div class="card" id="left-bird">
                <img class="card-image" src="assets/American_Barn_Owl,_Bear_River,_Utah_(9637780911).jpg">
                <div class="card-text">
                    <p>default</p>
                    <p><em>defaulticus maximus</em></p>
                    <Button hx-get="/api/scorematch/"
                        hx-trigger="click, load"
                        hx-target="#bird-wrapper"
                        hx-swap="outerHTML"
                        hx-vals='{"leftBirdID": "c44bcc1d-de5a-4872-b6e5-b5fbf3eaadae", "rightBirdID": "543e76d4-15cb-407b-abdc-874f96059bce"}'>
                        This one!
                    </Button>
                </div>
            </div>
            <div class="card-separator">OR</div>
            <div class=" card" id="right-bird">
                <img class="card-image" src="assets/Anas_platyrhynchos_male_female_quadrat.jpg">
                <div class="card-text">
                    <p>default</p>
                    <p><em>defaulticus maximus</em></p>
                    <Button hx-get="/api/scorematch/"
                        hx-trigger="click"
                        hx-target="#bird-wrapper"
                        hx-swap="outerHTML"
                        hx-vals='{"leftBirdID": "c44bcc1d-de5a-4872-b6e5-b5fbf3eaadae", "rightBirdID": "543e76d4-15cb-407b-abdc-874f96059bce"}'>
                        This one!
                    </Button>
                </div>
            </div>
        </div>

        <div id="leaderboard-wrapper">
            <div class="leaderboard-header">
                <p>Visit the <a href="leaderboard.html">leaderboard</a></p>
            </div>
            <div class="leaderboard-list"
                hx-trigger="load"
                hx-get="/api/leaderboard"
                hx-swap="outerHTML"
                hx-vals='{"listLength": "5"}'>
                <table>
                    <tr>
                        <th>Ranking</th>
                        <th>Common Name</th>
                        <th>ELO Score</th>
                    </tr>
                    <tr class="leaderboard-first">
                        <td>1.</td>
                        <td>defaulticus maximus</td>
                        <td>999999999</td>
                    </tr>
                    <tr class="leaderboard-second">
                        <td>2.</td>
                        <td>defaulticus medius</td>
                        <td>999999998</td>
                    </tr>
                    <tr class="leaderboard-third">
                        <td>3.</td>
                        <td>defaulticus minimus</td>
                        <td>999999997</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright Neeeb | 2025</p>
    </div>
</body>

</html>