<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Birds</title>
     <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <h3>Rate<em>(the)</em>Birds</h3>
    </div>
    <div class="main">
        <div id="bird-wrapper">
            <div class="card" id="left-bird">
                <img class="card-image" src="assets/American_Barn_Owl,_Bear_River,_Utah_(9637780911).jpg">
                <div class="card-text" 
                hx-get="/htmx/birds/random" 
                hx-trigger="click">
                    <p>American Barn Owl</p>
                    <p><em>Tyto furcata</em></p>
                </div>
            </div>
            <div class="card-separator">OR</div>
            <div class=" card" id="right-bird">
                <img class="card-image" src="assets/Anas_platyrhynchos_male_female_quadrat.jpg">
                <div class="card-text"
                hx-get="/htmx/birds/random" 
                hx-trigger="click">
                    <p>Mallard</p>
                    <p><em>Anas platyrhynochos</em></p>
                </div>
            </div>
        </div>

        <div id="leaderboard-wrapper">
            <div class="leaderboard-header">
                <p>Visit the <a href="leaderboard.html">leaderboard</a></p>
            </div>
            <div class="leaderboard-list">
                <ol>
                    <li>
                        <p>American Robin</p>
                    </li>
                    <li>
                        <p>Mallard</p>
                    </li>
                    <li>
                        <p>Cerulean Warbler</p>
                    </li>
                    <li>
                        <p>Song Sparrow</p>
                    </li>
                    <li>
                        <p>Brown-Headed Nuthatch</p>
                    </li>
                    <li>
                        <p>Northern Cardinal</p>
                    </li>
                    <li>
                        <p>Bald Eagle</p>
                    </li>
                    <li>
                        <p>Great Blue Heron</p>
                    </li>
                    <li>
                        <p>Eastern Bluebird</p>
                    </li>
                    <li>
                        <p>Red-tailed Hawk</p>
                    </li>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright Neeeb | 2025</p>
    </div>
</body>

</html>