* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color:#F0F2A2
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    margin: 0px 0px 10px 0px;
    background-color: #2C592A;
    padding: 15px;
    z-index: 1;
    text-align: center;
    font-weight: lighter;
    color: #f9f8f8;
    font-size: 36px;
}

.main {
    padding-top: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#bird-wrapper {
    background-color: #F0F2A2;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 32px;
}

/* #left-bird,
#right-bird {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} */

.card-separator {
    font-size: 64px;
    font-style: italic;
    text-decoration: underline;
}

.card {
    background-color: grey;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px;
}

.card-image {
    width: 90%;
    max-height: 75%;
    object-fit: cover;
    flex: 2 2 auto;
}

.card-text {
    background-color: lightgrey;
    font-size: 32px;
    text-align: center;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 15px;
    text-align: center;
}

#leaderboard-wrapper {
    background-color: #83A660;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.leaderboard-list {
    max-inline-size: 60%;
    padding: 2vh 30vw;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
}

.leaderboard-header {
    font-size: 36px;
    font-weight: 600;
}

ol {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    white-space: nowrap;
}

.footer {
    text-align: center;
    padding: 16px;
    margin-top: 16px;
    background-color: #2C592A;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f9f8f8;
    font-size: 24px;
}
