* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    margin: 0px 0px 10px 0px;
    background-color: lightblue;
    padding: 15px;
    z-index: 1;
    text-align: center;
}

.main {
    background-color: lightgrey;
    padding-top: 15px;
}

#bird-wrapper {
    background-color: yellowgreen;
    overflow: hidden;
    border: 1px solid black;
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: top;
    align-content: space-around;
    position: relative;
}

#left-bird,
#right-bird {
    flex: 1;
    border: 1px solid red;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#left-bird>img,
#right-bird>img {
    border: 1px solid green;
    max-inline-size: 80%;
    object-fit: contain;
    flex: 2 2 auto;
}

#left-bird-text,
#right-bird-text {
    background-color: red;
    padding: 10px;
    text-align: center;
    flex: 0;
    align-items: center;
}

.content {
    padding: 15px;
    text-align: center;
}

#leaderboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content.leaderboard {
    background-color: lightcoral;
    flex: 30%;
    max-width: 60%;
    margin: 20px;
}

.footer {
    text-align: center;
    margin: 15px 0px 0px 0px;
    padding: 5px 0px 10px 0px;
    background-color: lightgreen;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}